<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KituraDemo 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KituraDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KituraDemoTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51BAE9B41E796DC5003A2EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_143</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_223</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
